.cursor-pointer {
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #f5f5dc7d;
    height: 100vh;
}

.ql-container {
    background: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.ql-toolbar {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: white;
}